  /* Styles globaux pour l'application */
  
  
  .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  main {
    flex: 1;
    padding: 0;
    margin: 0;
    height: 100%;
  }


p, h2, h3, a {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
}


h2, h3, h4, h5, h6, strong {
  font-weight: 600 !important;
}

strong {
  color: black;
}

h1 {
  font-weight: 800 !important;
  font-family: 'Nunito Sans', sans-serif;
} 

p {
  color: #444;
}

h1, h2, h3 {
  color:  #1e1e1e;
}




/* pour le header */


.navbar-custom {
    background-color: #444 !important;
    
}

.navbar-custom img {
    width: 50px;
}

.nav-link.active {
    color: #fff !important;  
}

.nav-link {
    color: rgb(190, 181, 181) !important;
}

.text-logo {
  color: white;
  font-weight: 600;
}








/* Footer.css */
.footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer-custom {
    background-color: #eee !important;
  }
  
  .footer h5 {
    font-weight: bold;
    color: black;
  }
  
  .footer a {
    color: #fff;
  }
  
  .footer a:hover {
    text-decoration: none;
    color: #ddd;
  }
  
  .footer .btn {
    margin-top: 10px;
  }

  .footer p { 
    color: black;
  }
  

  .App {
    text-align: center;
  }



  /* pour le profile */
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .github-profile {
    text-align: center;
  }
  
  .github-profile img {
    border-radius: 50%;
    margin-bottom: 1em;
  }
  
  .github-profile h1 {
    margin-bottom: 0.5em;
  }
  
  .github-profile p {
    margin: 0.5em 0;
  }
  
  .github-profile a {
    color: #61dafb;
  }
  

